//layout

::marker{
  color:#999999;
}

.innerWrap{
  width: 75%;
  margin: 0 auto;
}
#aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 119px;
  right: 1.5%;
  z-index: 200;
  &.fixed{
    position: fixed;
    top: 50px;
    right: 1.5%;
  }
  .asideBtn{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:120px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #043763;
    border: 1px solid #fff;
    box-sizing: border-box;
    // z-index: 1;
    transition: 1.5s ease-in-out;
  }
  .quickMenu{
    width: 170px;
    border: 2px solid #043763;
    transition: 0.5s;
    .title{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #043763;
      h2{
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        text-align: center;
        color:#fff;

      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        img{
          width: 8px;
          height: 14px;
          display: block;
        }
      }
    }
    ul{
      li{
        height: 45px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fff;
        &:hover{
          background-color: #d3e4ef;
        }
        a{
          display: block;
          font-size: 15px;
          text-align: left;
          padding: 15px 20px;
          color:#333;
        }
      }
    }
  }
  .back_top{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3.5%;
    right: 4.5%;
    width: 60px;
    height: 60px;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    background: #fff;
    margin-top: 25px;
    img{
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      color: #666666;
    }
  }
}
#header{
  position: relative;
  #navTop{
    display: flex;
    align-items: center;
    height: 60px;
    .innerWrap{
      display: flex;
      justify-content: space-between;
      .hTopLeft{
        display: flex;
        .logoBox{
          display: flex;
          img{
            margin-right: 20px;
          }
        }
        .menu{
          display: flex;
          align-items: center;
          overflow: hidden;
          li{
            position: relative;
            padding: 0 10px;
            &:after{
              content:'';
              position: absolute;
              top:50%;
              right:-1px;
              transform: translateY(-50%);
              width: 1px;
              height: 18px;
              background-color: #eaeaea;
            }
            &:last-child{
              padding-left: 30px;
              & a:before{
                  content:'';
                  display: inline-block;
                  position: absolute;
                  // position: relative;
                  top:50%;
                  left:13%;
                  width: 15px;
                  height: 15px;
                  transform: translateY(-50%);
                  background-image: url('../img/layout/ico_globus.png');
                  background-repeat: no-repeat;
                }
            }
            a{
              font-size: 15px;

            }
          }
        }
      }
      .hTopRight{
        display: flex;
        align-items: center;
        .snsIcon{
          img{
            padding-right: 10px;
          }
        }
        .sizeControl{
          display: flex;
          align-items: center;
          p{
            font-size: 15px;
            margin-right: 10px;
          }
          .controlBox{
            button{
              width: 20px;
              height: 20px;
              border: 1px solid #eaeaea;
              background-color: #fff;
              &:nth-child(1){
                background-image: url('../img/layout/btn_01.png');
              }
              &:nth-child(2){
                background-image: url('../img/layout/btn_02.png');
              }
              &:nth-child(3){
                background-image: url('../img/layout/btn_03.png');
              }
            }
          }
        }

      }
    }
  }
  #navBottom{
    background-color: #004a8f;
    .innerWrap{
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mainMenu{
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        overflow: hidden;
        li{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 16.666%;
          height: 100%;
          &:after{
            content:'';
            position: absolute;
            left:-1px;
            width: 1px;
            height: 100%;
            background-color: #ffffff14;
          }
          a{
            font-size: 1.8rem;
            font-weight: 600;
            color:#fff;
          }
        }
      }
      .searchBox{
        position: relative;
        display: flex;
        width: 20%;

        input{
          width: calc(100% - 35px);
          padding: 8px ;
          outline: none;
          border:1px solid #fff;
          box-sizing: border-box;
        }
        img{
          position: absolute;
          top: 50%;
          right: 16%;
          transform: translateY(-50%);

        }
        button{
          width: 35px;
          height: 35px;
          background-color: #fff;
          border: none;
          box-sizing: border-box;
          outline: none;
          background-image: url('../img/layout/ico_glass.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 20px;
        }
      }
    }
  }
  #dropMenu{
    display: none;
    position: absolute;
    background: #fff;
    top:105px;
    left: 0;
    right:0;
    z-index: 100;
    border-bottom: 1px solid #cbcbcb;
    &.active{
      display: block;
    }
    .innerWrap{
      .inner{
        display: flex;
        width: 100%;
        .box{
          display: flex;
          width: 80%;
          ul.submenu{
          width: 16.666%;
          border-left: 1px solid #eaeaea;
          box-sizing: border-box;
          &:nth-child(3){
            & > li{
              background-color: #e7e7e7;
              & > a{
                position: relative;
                &:after{
                  content: '';
                  position: absolute;
                  top:15px;
                  right:10px;
                  width: 8px;
                  height: 11px;
                  background-image: url('../img/layout/mob_dep_wh.png');
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }
              .innerMenu{
                display: block;
              }
            }
          }
          &:last-child{
            border-right: 1px solid #eaeaea;
          }
          li{
            position: relative;
            &:hover{
              background-color: #d3e4ef;
            }
            a{
              display: block;
              font-size: 15px;
              line-height: 1.5;
              padding:10px 0 10px 10px;
            }
            .more{
              position: absolute;
              top:15px;
              right:10px;
              &.on{
                transform: rotate(90deg);
              }
            }
            .link{
              position: absolute;
              top:15px;
              right:10px;
            }
            ul.innerMenu{
              display: none;
              background-color: #fff;
              &.active{
                display: block;
              }
              li{
                position: relative;
                background-color: #fff;
                &:hover{
                  background-color: #d3e4ef;
                }
                a{
                  font-size: 14px;
                  color:#666666;
                  padding:5px 0 5px 15px;
                }
                .link{
                  position: absolute;
                  top:15px;
                  right:10px;
                }
              }
            }
          }
        }
        }
        .space{
          width: 20%;
        }
      }
    }
  }
  .bg{
    display: none;
    position: absolute;
    background: #000000d6;
    top:105px;
    height: calc(100vh - 105px);
    left: 0;
    right:0;
    z-index: 10;
    &.active{
      display: block;
    }
  }
}

#footer{
  background-color: #4c515c;
  padding: 30px 0;
  .innerWrap{
    display: flex;
    justify-content: space-between;
    .fLeft{
      display: flex;
      margin-top: 15px;
      width: 75%;
      .f_logo{

      }
      .f_info{
        margin-left: 36px;
        .policy{
          margin-bottom: 20px;
          ul{
            display: flex;
            overflow: hidden;
            li{
              position: relative;
              margin-right: 30px;
              &:after{
                content:'';
                position: absolute;
                top:50%;
                left:-15px;
                transform: translateY(-50%);
                width: 1px;
                height: 20px;
                background-color: #fff;

              }
              a{
                font-size: 15px;
                color:#fff;
                strong{
                  color:#76acf5;
                }
              }
            }
          }
        }
        .adress{
          font-size: 15px;
          color:#b1b1b1;
          margin-bottom: 15px;
        }
        .copyright{
          font-size: 14px;
          color:#b1b1b1;
          strong{
            color:#ffecbf;
          }
        }
      }
    }
    .fright{
      display: flex;
      justify-content: flex-end;
      width: 25%;
      .f_snsIcon{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        a{
          img{
            width: 40px;
            height: 40px;
            background-color: #a6a6a680;
            border-radius: 100%;
          }
        }
      }
    }
  }
}


//media-query

@media screen and ( max-width : 1600px ){
  .innerWrap{
    width: 90%;
  }
  #aside{
    .asideBtn{
      display: flex;
    }
    .quickMenu{
      transform: translateX(200%);
    }
  }

}

@media screen and ( max-width : 1350px ){
  .innerWrap{
    width: 90%;
  }
  #aside{
    .asideBtn{
      display: flex;
    }
    .quickMenu{
      h2{
        padding-left: 10px;
      }
    }
    .back_top{
      width: 45px;
      height: 45px;
      img{
        margin-bottom: 5px;
      }
      p{
        font-size: 10px;
      }
    }
  }
  #header{
    #navTop{
      .innerWrap{
        .hTopLeft{
          width: 100%;
          justify-content: space-between;
        }
        .hTopRight{
          display: none;

        }
      }
    }
  }
  #footer{
    .innerWrap{
      .fLeft{
        .f_logo{
          display: none;
        }
        .f_info{
          margin-left: 0px;
        }
      }
      .fright{
        .f_snsIcon{
          a{
            img{
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
